html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;  
  font-family: 'Roboto', sans-serif;
  background-color: rgb(253, 253, 253);
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}